.arrow{
  border-radius: 100%;
  background: var(--theme-color);
  color: white;

  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  &.left{
    left: 0;
  }

  &:hover{
    filter: brightness(0.85);
  }
}