@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
@import './responsive.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  color: var(--white);
  font-family: Segoe UI, Roboto, sans-serif;
  background: var(--almost-black);  
}

a {
  color: inherit;
  text-decoration: none;
}

input{
  padding: 10px 16px;

  outline: none;
  border: solid 1px transparent;
  border-radius: 5px;

  color: var(--dark-gray);
  transition: all 0.1s linear;

  &:focus{
    border: solid 1px var(--theme-color);
  }
}

button{
  padding: 7px;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;

  transition: all 0.1s linear;
}

:root {
  // --header-gap: 120px; se o header for fixed full time
  --header-gap: 0px;
  @include for-size(smallDesktop){
    --header-gap: 80px;
  }

  --almost-white: rgb(239 237 238 / 100%);
  --white-alpha: rgb(255 255 255 / 33%);
  --white: rgb(255 255 255 / 100%);

  --dark-gray: rgb(66 70 77 / 100%);
  --light-gray: rgb(187 187 187 / 100%);

  --almost-black: rgb(16 1 17 / 100%);

  --theme-color-darker: rgb(63 59 173 / 100%);
  --theme-color: rgb(114 110 250 / 100%);
  --theme-color-lighter: rgb(142 138 255 / 100%);

  --theme-color-alpha: rgb(114 110 250 / 33%);

  --theme-color-contrast: rgb(173 151 42 / 100%);
  --theme-color-contrast-lighter: rgb(250 226 110 / 100%);
  
}