.main{
  width: 100%;
  max-width: 1500px;

  background: red;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bannerBox{  
  min-width: 100%;
  aspect-ratio: 3/1;
  overflow-y: hidden;

  background: yellow;
  margin-top: var(--header-gap)
}

.carouselContainer{
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  
  background: var(--almost-white);
}