.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bannerBox{  
  min-width: 100%;
  overflow-y: hidden;  
}

.carouselContainer{
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  
  background: var(--almost-white);
}