@import '../../styles/responsive.scss';

.header {
  width: 100vw;

  display: flex;
  flex-direction: column;

  font-family: Poppins, sans-serif;

  background: var(--bg-color-3);
  color: var(--text-color-1);
}

.headerMain{
  height: 80px;

  padding: 20px 5%; 
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.searchContainer{
  flex: 1;
  max-width: 800px;
  position: relative;

  display: flex;

  input{
    width: 100%;
    
    border-radius: 5px 0px 0px 5px;
    border-right: none;

    &:focus{
      border-right: none;
    }

    &:focus ~ button{
      border: solid 1px var(--bg-color-1);
      border-left: none;
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 0px 5px 5px 0px;
    background: white;
    border: solid 1px transparent;
    border-left: none;

    &:hover{
      filter: brightness(95%);
    }
  }
}

.accountInfo{
  width: 120px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  font-size: 12px;
  // background:black;
  
  p{
    margin-left: 7px;
    font-size: 1.08em;
    line-height: 1.7em;

    a{
      font-weight: 700;

      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.iconsContainer{
  width: 170px;
  height: 50px;

  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  span{
    width: 35px;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    // border: solid 1px snow;
    cursor: pointer;
    transition: filter 0.1s linear;
    
    &:hover{
      filter: brightness(80%);
    }
  }
}

.headerLinks{
  height:40px;

  padding: 20px 5%;

  background: var(--bg-color-2);

  ul{
    height: 100%;

    list-style-type: none;
    font-weight: 700;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    li {
      cursor: pointer;
    }
  }
}

.dropdownLink{
  position: relative;

  display: flex;
  align-items: center;
  gap: 15px;

  height: 40px;

  &:hover span{
    transform: rotate(-45deg);
  }

  &:hover div {
    visibility: visible;
    height: 300px;
  }

  span{    
    width: 9px;
    height: 9px;
    display: block;

    margin-top: -2px;

    transform: rotate(135deg);
    border-top: 2px solid white;
    border-right: 2px solid white;
    transition: all 0.4s ease 0s;
  }

  div {
    width: 100%;
    // height: 300px;
    height: 0px;

    position: absolute;
    top: 40px;
    left: 0;

    background: limegreen;
    transition: all 0.2s ease;
    visibility: hidden;
  }
}