@import '../../styles/responsive.scss';

.backgroundBlur{
  width: 100vw;
  height: 100vh;

  display: none;

  position: fixed;
  z-index: 2;

  background: rgb(121 121 121 / 0.5);

  @include for-size(smallDesktop){
    &.active {
      display: block;
    }
  }  
}

.header {
  width: 100vw;

  z-index: 3;

  display: flex;
  flex-direction: column;

  font-family: Poppins, sans-serif;

  background: var(--theme-color-darker);
  color: var(--white);
  box-shadow: -1px 0px 10px 0px var(--white-alpha);

  @include for-size(smallDesktop){
    position: fixed;
  }
}

.headerMain{
  height: 80px;

  padding: 20px 5%; 
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 60px;

  @include for-size(mediumDesktop){
    padding: 15px 3%;
    gap: 40px;
    // justify-content: space-between;
  }

  @include for-size(smallDesktop){
    gap: 25px;
  }
}

.hamburger{  
  height: 44px;

  padding: 7px;
  display: none;

  // background: rgb(121 121 121 / 0.3);
  border-radius: 50px;
  cursor: pointer;
  
  @include for-size(smallDesktop){
    display: block;
  }
}

.searchContainer{
  flex: 1;
  max-width: 800px;
  position: relative;

  display: flex;

  input{
    width: 100%;
    
    border-radius: 5px 0px 0px 5px;
    border-right: none;

    &:focus{
      border-right: none;
    }

    &:focus ~ button{
      border: solid 1px var(--theme-color);
      border-left: none;
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 0px 5px 5px 0px;
    background: white;
    border: solid 1px transparent;
    border-left: none;

    &:hover{
      filter: brightness(95%);
    }
  }
}

.accountInfo{
  width: 120px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 7px;

  font-size: 0.8em;
  
  p{
    line-height: 1.7em;

    a{
      font-weight: 600;

      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.iconsContainer{
  width: 170px;
  height: 50px;

  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @include for-size(smallDesktop){
    display: none;
  }

  span{
    width: 35px;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    // border: solid 1px snow;
    cursor: pointer;
    transition: filter 0.1s linear;
    
    &:hover{
      filter: brightness(80%);
    }
  }
}

.headerLinks{
  height:40px;

  padding: 20px 5%;

  background: var(--theme-color);

  @include for-size(mediumDesktop){
    padding: 20px 2%;
    font-size: 0.8em;
  }

  @include for-size(smallDesktop){
    height: calc(100vh - var(--header-gap)); 
    // min-width: 302px;

    position: fixed;
    left: 0;
    top: var(--header-gap);
    
    overflow-y: auto;
    overflow-x: hidden;
    display: none;

    &.active{
      display: block;
    }
  }

  ul{
    height: 100%;

    list-style-type: none;
    font-weight: 700;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @include for-size(smallDesktop){
      width: auto;
      // height: 100vh;      

      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;    
      
      gap: 15px;
    }

    li {      
      cursor: pointer;
    }
  }
}

.onlyMobile{
  display: none;
  
  @include for-size(smallDesktop){
    display: flex;
    align-items: center;
    gap: 7px;
  }
}

.dropdownLinks{
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  height: 40px;

  @include for-size(smallDesktop){
    height: auto;
    min-width: 15rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  &:hover span, &:active span{
    transform: rotate(-45deg);
  }

  &:hover div, &:active div {
    display: flex;
    // max-height: 66vh;
  }

  .head{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  span{    
    width: 9px;
    height: 9px;
    display: block;

    margin-top: -5px;

    transform: rotate(135deg);
    border-top: 2px solid var(--white);
    border-right: 2px solid var(--white);
    transition: all 0.4s ease 0s;
  }

  div {
    min-width: 100%;
    // height: 300px;
    max-height: 66vh;

    position: absolute;
    top: 40px;
    left: 0;
    z-index: 5;

    padding: 10px 0;
    display: none;
    flex-direction: column;

    font-size: 15px;
    font-weight: 400;

    background: var(--white);
    color: var(--theme-color);
    // transition: all 0.2s ease 0s;
    cursor: default;
    overflow-y: auto;

    @include for-size(smallDesktop){
      background: transparent;
      position: relative;
      color: var(--white);
      top: 0px;
      padding: 0px;
    }

    &::-webkit-scrollbar {
      width: 5px;
    }  
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        border-radius: 10px;
    }    
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }

    a{
      padding: 5px 20px;

      cursor: pointer;
      white-space: nowrap;

      &:hover{
        background: var(--theme-color-alpha);
      }
    }
  }
}